

.title-movies > h2 {
    margin-left: 50px;
    padding: 0;
    
}

.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    
}

.nowplaying-movies {
    background-color: #111;
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    
    
}

.nowplaying-movies img {
    width: 280px;
}



.home a {
    color: white;
    text-decoration: none;
}


