.home {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 80px;
    justify-content: space-around;
}



.nowplaying-movies {
    background-color: #111;

    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    top: 10px;
    position: relative;
}

.nowplaying-movies img {
    width: 280px;
}



