.container{
    position: absolute;
    top: 80px;
    height: 87%;
    width: 30%;
border: 1px solid red;
}

.filmes-desejados {
    position: relative;
    border: 1px solid green;
    left: 350px;
    top: 0;
    width: 100%;
    height: 100%;
}
