nav {
    background-color: #fff66f;
    color: black; 
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.menu-sidebar {
    position: relative;
}

.menu-sidebar button {
    background-color: #fff66f;
    border: 0;
    cursor: pointer;
}

.menu-sidebar img {   
    margin-left: 30px;
    height: 40px;
    align-items: center;
}
  
.title a {
    margin-left: 20px;
    font-size: 1.7rem;
    text-decoration: none;
    color: black;
    margin-top: 0;
}

.title {
   height: 120px;
}
  
.profile img {
    height: 35px;
    margin-right: 10px;
}

.profile span {
    font-size: 1.5rem;
    margin: 2px 0px 0 8px;
}

.profile > a {
    background-color: #fff66f;
    border: 0;
    cursor: pointer;
    margin-right: 30px;
    display: flex;
    text-decoration: none;
    color:black;
}

@media (min-width: 350px) and (max-width: 990px){
    .title a {
        margin-left: 40px;
        font-size: 1rem;
        text-decoration: none;
        color: black;
        margin-top: 0;
    }

    .profile > a {
        background-color: #fff66f;
        border: 0;
        cursor: pointer;
        margin-right: 30px;
        display: flex;
        text-decoration: none;
        color:black;
    }
    
    .title {
        height: 70px;
    }

    .profile span {
        display: none;
        margin: 2px 0px 0 8px;
    }

    .profile img {
        height: 25px;
        margin-right: 10px;
    }

    .menu-sidebar img {   
        margin-left: 30px;
        height: 40px;
        align-items: center;
    }
    
}
