.sidebar {
    position: absolute; 
    top: 60px;  
    width: 200px;
    padding-left: 30px;
    padding-right: 30px;
    background-image: linear-gradient(to right, #0a0a05, #0c0c0b );
    border-radius: 15%; 
    
}


.sidebar a {
    padding: 10px;
    font-size: 1rem;
    text-decoration: none;
    list-style: none;
    color: yellow;
}

li:hover {
    background: #303030;
}

